<a href="https://colab.research.google.com/github/gouri1125/ict_project/blob/main/Practiceproblems_pythonbasics3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a Python program which accepts the radius of a circle from the user
and compute the area.
Sample input: Enter the radius: 3
Sample output: Area of Circle is 28.59999999999

In [1]:
r = float(input("Enter the radius: "))
area = 3.14 * r * r
print("Area of Circle is", area)

Enter the radius: 4
Area of Circle is 50.24

2. Write a Python Program to accept the details of a student like name, roll
number and mark and display it.
Sample input: Enter the name: Anisha
Enter the roll number: 21
Enter the mark: 78
Sample output: Name: Anisha
Roll No: 21
Mark: 78

In [2]:
name = input("Enter the name: ")
rollno = input("Enter the roll number: ")
mark = input("Enter the mark: ")

print("Name:", name)
print("Roll No:", rollno)
print("Mark:", mark)

Enter the name: ammal
Enter the roll number: 11
Enter the mark: 97
Name: ammal
Roll No: 11
Mark: 97

3. Write a Python program to get the largest number from a list.
Sample input: 12, 3, 47, 10
Sample output: 47 is the largest number.

In [4]:
nums = [12, 3, 47, 10]
largest = max(nums)
print(largest, "is the largest number.")

47 is the largest number.

4. Given a range of first 10 numbers, write a Python program to iterate from
start number to the end number and print the sum of the current number
and previous number.
Sample input: 1….10
Sample output: Current Number 1 Previous Number 0 Sum: 1 Current
Number 2 Previous Number 1 Sum: 3 Current Number 3 Previous
Number 2 Sum: 5… Current Number 10 Previous Number 9 Sum: 19

In [5]:
previous = 0

for current in range(1, 11):
    total = current + previous
    print("Current Number", current, "Previous Number", previous, "Sum:", total)
    previous = current

Current Number 1 Previous Number 0 Sum: 1
Current Number 2 Previous Number 1 Sum: 3
Current Number 3 Previous Number 2 Sum: 5
Current Number 4 Previous Number 3 Sum: 7
Current Number 5 Previous Number 4 Sum: 9
Current Number 6 Previous Number 5 Sum: 11
Current Number 7 Previous Number 6 Sum: 13
Current Number 8 Previous Number 7 Sum: 15
Current Number 9 Previous Number 8 Sum: 17
Current Number 10 Previous Number 9 Sum: 19

5. Write a Python program to print only those numbers which are divisible
of 5.
Sample input: 10, 20,33,46,55 Sample output: 10, 20, 55

In [7]:
nums = [11, 21, 33, 44, 55]

for n in nums:
    if n % 5 == 0:
        print(n)

55

6. Write a Python program to check whether a number is prime or not.
Sample input: Enter the number: 3
Sample output: 3 is a prime number

In [8]:
num = int(input("Enter the number: "))

if num > 1:
    for i in range(2, num):
        if num % i == 0:
            print(num, "is not a prime number")
            break
    else:
        print(num, "is a prime number")
else:
    print(num, "is not a prime number")

Enter the number: 11
11 is a prime number

7. Write a Python program to reverse a list using for loop.
Sample input: 10,40,30,70
Sample output: 70,30,40,10

In [9]:
my_list = [10, 40, 30, 70]
rev_list = []
for i in range(len(my_list) - 1, -1, -1):
    rev_list.append(my_list[i])
print("Reversed list:", rev_list)

Reversed list: [70, 30, 40, 10]

8. Write a Python program to print the following pattern.
*
**
***
****

In [10]:
# Program to print the pattern
for i in range(1, 5):
    print("*" * i)

*
**
***
****

9. Write a Python program to find the maximum of three numbers
Sample input: 34,12,7
Sample output: 34

In [12]:
a,b,c=34,12,7
maximum = a
if b > maximum:
    maximum = b
if c > maximum:
    maximum = c
print(maximum)

34

10. Write a Python program to construct the following pattern, using a
nested for loop.
*
**
***
****
*****
****
***
**
*

In [13]:

for i in range(1, 6):
    for j in range(i):
        print("*", end="")
    print()
    #lower part
for i in range(4, 0, -1):
    for j in range(i):
        print("*", end="")
    print()

*
**
***
****
*****
****
***
**
*